index:
  path: /
  controller: App\Controller\DefaultController::index

api_login:
  path: /api/login

register:
  path: /register
  controller: App\User\Application\Controller\UserController::register
  methods: POST

createNewProduct:
  path: /api/admin/product/create
  controller: App\Product\Application\Controller\ProductCrudController::create
  methods: POST

getLoggedUserProducts:
  path: /api/user/products
  controller: App\Product\Application\Controller\ProductCrudController::getLoggedUserProducts
  methods: GET

activateProductForUser:
  path: /api/user/product/activate
  controller: App\Product\Application\Controller\ActivateProductController::activateProduct
  methods: POST

createNewIssue:
  path: /api/user/issue/create
  controller: App\Issue\Application\Controller\IssueCrudController::create
  methods: POST

getIssue:
  path: /api/user/issue/{id}
  controller: App\Issue\Application\Controller\IssueCrudController::getIssue
  methods: GET
  requirements:
    id: \d+

getAllIssues:
  path: /api/employee/issues
  controller: App\Issue\Application\Controller\IssueCrudController::getAllIssues
  methods: GET

getAllUserIssues:
  path: /api/user/issues
  controller: App\Issue\Application\Controller\IssueCrudController::getAllUserIssues
  methods: GET

assignEmployeeToIssue:
  path: /api/employee/issue/assign
  controller: App\Issue\Application\Controller\IssueCrudController::updateIssueAssignee
  methods: POST

getAllProductIssues:
  path: /api/user/product/{id}/issues
  controller: App\Issue\Application\Controller\IssueCrudController::getAllIssuesForProduct
  methods: GET
  requirements:
    id: \d+

addCommentToIssue:
  path: /api/comment/{issueId}
  controller: App\Issue\Application\Controller\CommentCrudController::addComment
  methods: POST
  requirements:
    id: \d+

getAllCommetsForIssue:
  path: /api/issue/{issueId}/comments
  controller: App\Issue\Application\Controller\CommentCrudController::getCommentsForIssue
  methods: GET
  requirements:
    id: \d+