index:
  path: /
  controller: App\Controller\DefaultController::index

api_login:
  path: /api/login

register:
  path: /register
  controller: App\User\Application\Controller\UserController::register
  methods: POST

activateProductForUser:
  path: /api/user/product/activate
  controller: App\Product\Application\Controller\ActivateProductController::activateProduct
  methods: POST
#
#  getProductsForUser:
#    path: /user/products/{userId}
#    controller: App\Product\Application\Controller\ProductCrudController::getUserProducts
#    methods: POST